<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @product.name %></td><br>
        <td><%= @product.price %></td>
      </tr>

  </tbody>
</table>

<br>

<div>

    <%= form_tag orders_path, method: :post do %>
      <%= hidden_field_tag(:name, @product.name) %>
      <%= hidden_field_tag(:price, @product.price) %>
      <%= select_tag(:quantity, options_for_select([[1], [2], [3], [4]])) %>
      <%= submit_tag "送出", name: nil, class: "btn btn-primary" %>
    <% end %>

</div>
